{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static '/style/base-style.css' %}"/>
    <title>Education App</title>
  </head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar">
    <a href="{% url 'student-register' %}" class="nav-link">Create Student Profile</a>
      <a href="{% url 'lector-register' %}" class="nav-link">Create Lector Profile</a>

  </nav>

  <!-- Main Content -->
  <div class="main-content">
    <h1>Welcome to the Home Page</h1>
    <p>This is the content of your home page.</p>
  </div>
</body>
</html>